/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port

# We just want this folder to exist, nothing inside
downloads/*.zip
downloads/*/*
flubber.txt
last-run.txt
